.footer
	background: url(../img/footer.png) center center/ cover no-repeat 
	height: 800px
	margin-top: 80px
	.rf
		position: absolute
		margin-top: 400px
		display: flex
		flex-direction: column
		justify-content: space-around
		font-family: 'Ramona'
		font-style: normal
		font-weight: 700
		font-size: 24px
		line-height: 32px
		a
			text-decoration: none
			color: #FFFFFF
			list-style-type: none
	.ff
		position: absolute
		text-align: center
		margin-top: 400px
		margin-left: 75% 
		display: flex
		flex-direction: column
		justify-content: space-around
		font-family: 'Ramona'
		font-style: normal
		font-weight: 700
		font-size: 24px
		line-height: 32px
		a
			text-decoration: none
			color: #FFFFFF
			list-style-type: none


